<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Reset hasła</title>
</head>
<body>

<div layout:fragment="custom-jumbotron" th:replace="~{fragments :: general-jumbotron}">
</div>

<div class="container container-main login-form" layout:fragment="main-container">

    <form action="#" th:action="@{/reset-hasla}" method="post" class="mb-4 text-start">
        <h4 class="text-center mb-4">Podaj adres, na który wysłany ma zostać link umożliwiający ustawienie nowego hasła dla Twojego konta</h4>
        <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label">Email / nazwa użytkownika</label>
            <input type="email"
                   class="form-control"
                   id="exampleFormControlInput1"
                   placeholder="imie@mail.com"
                   name="username">
        </div>
        <button class="btn btn-primary" type="submit">Chcę otrzymać maila z linkiem do zmiany hasła</button>
    </form>
    <p>
        <a href="#" th:href="@{/}">Powrót do strony głównej</a>
    </p>
</div>

</body>
</html>