<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Regulamin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div layout:fragment="custom-jumbotron" th:replace="~{fragments :: general-jumbotron}">
</div>

<div class="container container-main login-form" layout:fragment="main-container">
    <div class="text-center">
        <div class="mb-4 border border-4 rounded p-5">
            <h1>Treść regulaminu</h1>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacus purus, vestibulum vitae rhoncus ac, sodales nec dolor. Nulla auctor nunc ac cursus egestas. Phasellus neque dolor, porta ut pretium ac, maximus eget odio. Fusce venenatis eleifend elit quis tempus. Aenean ac tincidunt enim, non molestie erat. In feugiat arcu nec quam hendrerit, ac interdum quam eleifend. Mauris gravida imperdiet est, at lobortis velit congue ac. Fusce vitae tristique diam, at porttitor augue. Nam ex sapien, facilisis sit amet tellus at, commodo condimentum arcu. Aliquam scelerisque ipsum eu tellus mattis, sit amet vestibulum lectus consectetur.

Fusce hendrerit et urna sit amet lacinia. Integer a tortor at ex pretium vulputate fermentum ut sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec viverra eros eu diam accumsan, nec auctor ex vulputate. Proin vestibulum ac justo nec mollis. Donec mi lorem, lacinia eu aliquet at, hendrerit dictum risus. Cras luctus finibus felis, quis fringilla est aliquam congue. Vestibulum viverra massa ut ultricies tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Donec et volutpat nulla. Quisque lorem orci, tincidunt nec posuere at, semper non nisl. Etiam in tortor et nunc sagittis maximus eu in massa. In feugiat tellus et mi dictum, non consectetur velit mollis. Nullam euismod aliquam tortor, nec tristique neque. Praesent vitae turpis quis lectus pellentesque elementum. Aliquam id pulvinar ligula. Nullam sodales metus quis erat scelerisque, et hendrerit urna venenatis. Nullam vitae ornare turpis. Nulla hendrerit enim sed augue finibus cursus. Donec placerat fermentum erat, a aliquam lorem mattis et. Donec rutrum maximus nulla, non porta ipsum ornare nec.

Nam et consectetur velit, in blandit orci. Nam a interdum arcu. Proin sit amet tincidunt arcu, eu auctor augue. Donec vitae diam eros. Nulla bibendum nec libero eu posuere. Donec in nisl lacus. Aenean auctor dictum ultrices. Cras fermentum metus tellus, sed mollis mauris vulputate ut. Curabitur aliquet turpis ac nisl vulputate lobortis. Curabitur euismod orci ipsum, in bibendum orci sodales in. Nulla a pulvinar ipsum, vel accumsan ipsum. Donec nec sem quis risus blandit bibendum. Sed dolor nisl, iaculis tempus lacus sed, pharetra egestas nisl. Quisque pulvinar nibh quam, at maximus nunc condimentum sit amet. Mauris eu velit eros. Aenean ac rhoncus nibh.

Nullam at ex nec ante facilisis sollicitudin. Integer ultrices orci nunc, fermentum luctus nibh rhoncus at. Integer posuere pharetra ex quis feugiat. Ut maximus eleifend magna, ut viverra libero pretium eu. Morbi vitae auctor risus. Duis at tincidunt lorem. Proin sollicitudin libero id rutrum hendrerit.

        </div>
        <p>
            <a href="#" onclick="window.close()">Zamknij okno</a>
        </p>
    </div>
</div>

</body>
</html>