<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Reset hasła</title>
</head>
<body>

<div layout:fragment="custom-jumbotron" th:replace="~{fragments :: general-jumbotron}">
</div>

<div class="container container-main login-form" layout:fragment="main-container">
    <h2>Podaj nowe hasło</h2>
    <form action="#" th:action="@{/reset-hasla/send-request}" method="post">
        <div class="mb-3">
            <input type="password" class="form-control" id="exampleFormControlInput2" name="newPassword">
        </div>
        <input type="hidden" name="resetCode" th:value="${resetCode}">
        <button class="btn btn-primary mb-3" type="submit">Wyślij</button>
    </form>
    <p>
        <a href="#" th:href="@{/}">Powrót do strony głównej</a>
    </p>
</div>

</body>
</html>