body {
    min-height: 300px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.home-jumbo {
    text-align: center;
}

.login-form {
    max-width: 1000px;
}

.custom-error {
    color: red;
    font-size: 0.8rem;
}

.bg-info {
    background-color: #7729ff !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#err-message,
.error-message {
    color : red;
}

.custom-btn {
    background-color: #4d94ff !important;
    outline-color: #4d94ff !important;
    color: #fff !important;
}
